<h1>Artists:</h1>
<p>
  <%= link_to "Order by name A↓Z", sort_path, class: "btn btn-default" %>
  <%= link_to "Order by name Z↑A", sort_des_path, class: "btn btn-default" %>
</p>

<div class="row">
  <%@artists.each do |artist|%>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%if artist.pictures.first%>
      <%= image_tag artist.pictures.first.image_url.thumbnail %>
      <%else%>
      <img alt="Artist picture" style="height: 150px; width: 150px; display: block;" src="http://res.cloudinary.com/dov11/image/upload/c_crop,h_366,w_366/v1510476250/366px-Musician_Holding_Bagpipes_1632_kzw3rz.jpg" >
      <%end%>
      <div class="caption">
        <h3><%=artist.name%></h3>
        <p><%= link_to "View", artist, class: "btn btn-default" %> </p>
      </div>
    </div>
  </div>
  <%end%>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail well">
      <img alt="Artist picture" style="height: 150px; width: 150px; display: block;" src="http://res.cloudinary.com/dov11/image/upload/c_crop,h_366,w_366/v1510476250/366px-Musician_Holding_Bagpipes_1632_kzw3rz.jpg" >
      <div class="caption">
        <h3>New artist</h3>
        <p><%= link_to "Add Artist", new_artist_path, class: "btn btn-success" %></p>
      </div>
    </div>
  </div>
</div>
