<h2><%=@song.name%></h2>
<h3>A song by <%=@artist.name%></h3>
<h3><%=@song.release_date.strftime("Released in %B, %Y")%></h3>
<!-- <h3><%=@duration%></h3> -->

<%= link_to "Back to artist songs", artist_path(@artist), class: "btn btn-default" %>
